<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vendiman</title>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <body>
    <script defer="defer" src="<%= assets["main.js"] %>"></script>
    <div id="root"><%- component %></div>
  </body>
</html>